.notFound{
    position: relative;
    flex:1 0;
    -webkit-font-smoothing: antialiased;
    color:var(--text-color);
}
.rotated-logo > img{
    transform: rotate(-100deg) skew(10deg);
}
.not-found .big-title{
    font-size: 150px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color:var(--text-color);
}
.not-found .header{
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width:250px;
    margin:auto;
    color:var(--text-color);
}
.not-found .menu > a{
    margin:3px;
    padding:4px;
    color:var(--text-color);
    text-decoration: none;
    font-weight: 300;
}
.not-found .menu{
    margin-top:30px;
}
.not-found .menu > a:hover{
    color:var(--link-hover);
}