@import "./styles/icons.css";
:root {
  --bg-light: white;
  --bg-dark: #333;
  --text-color: #333;
  --border: #666;
  --light-btn: #efefef;
  --btn-border: 1px solid #666;
  --logo-brightness: 1;
  --link-hover: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-light: #333;
    --bg-dark: white;
    --text-color: white;
    --border: #aaa;
    --btn-border: 1px solid #eee;
    --light-btn: #333;
    --logo-brightness: 100;
    --link-hover:#aaa;

  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Sacramento');
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto","Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:var(--bg-light);
}

.flex{
  display:flex;
}
.flex.row{
  flex-direction: row;
}
.flex.column{
  flex-direction: column;
}
.grow-full{
  flex-grow: 1;
}
.v-center{
  margin-top: auto;
  margin-bottom:auto;
}
.center{
  text-align:center;
}
.logo.text{
  color:var(--text-color);
  font-family: 'Sacramento', cursive;
  font-size: 56px;
}
.logo.img{
  margin:10px;
}
.btn{
  position: relative;
  border:1px solid var(--border);
  outline:0;
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
  background: transparent;
  color: var(--text-color);
}
.btn:hover{
  color:var(--bg-light);
}
.btn:before{
  position: absolute;
    -moz-transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
    -o-transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
    -webkit-transition: all 600ms cubic-bezier(.215,.61,.355,1);
    transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
    width: 150%;
    height: 110%;
    content: '';
    background:var(--bg-dark);
    transform: skew(45deg,0deg);
    transform-origin: top right;
    left: -190%;
    top: -5%;
    z-index:0;
}
.btn:hover:before{
  left:-35%;
}
.btn > span{
  position: relative;
  z-index:1;
}
.btn.light{
  border:var(--btn-border);
}
.btn.light:hover{
  color:var(--text-color);
}
.btn.light:before{
  background:var(--light-btn);
}
.page-wrapper{
  position:absolute;
  top:0;
  left:0;
  right:0;
  min-height: 100vh;
  padding:110px 0 70px 0;
  display:flex;
  align-items:stretch;
}
.page-title{
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 20px;
}
.normal{
  font-weight: 400;
}
.page-title > .name{
  margin: auto 0;
}
.btn-rounded{
  font-family: -apple-system, BlinkMacSystemFont, "Roboto","Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: inline-block;
  background: transparent;
  border: 1.5px solid var(--border);
  color: var(--border);
  padding: 12px 30px;
  border-radius: 50px;
  outline: 0;
  font-size: 16px;
  font-weight: 400;
  cursor:pointer;
  transition: 225ms;
  margin: 4px;
  margin-left: 0;
  text-decoration: none;
  text-align: center;
}
.btn-rounded:empty{
  width:45.7px;
  height:45.7px;
  line-height: 1;
  padding: 12px;
}
.btn-rounded:hover{
  border: 1.2px solid var(--link-hover);
  background: var(--link-hover);
  color: var(--light-btn);
}
.btn-rounded:before{
  margin-right: 8px;
}
.btn-rounded:empty:before{
  margin-right:0;
}