@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Sacramento');
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto","Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex{
  display:flex;
}
.flex.row{
  flex-direction: row;
}
.flex.column{
  flex-direction: column;
}
.grow-full{
  flex-grow: 1;
}
.v-center{
  margin-top: auto;
  margin-bottom:auto;
}
.center{
  text-align:center;
}
.logo.text{
  color:#333;
  font-family: 'Sacramento', cursive;
  font-size: 56px;
}
.logo.img{
  margin:10px;
}
.btn{
  position: relative;
  border:1px solid #666;
  outline:0;
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
}
.btn:hover{
  color:#fff;
}
.btn:before{
  position: absolute;
    -moz-transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
    -o-transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
    -webkit-transition: all 600ms cubic-bezier(.215,.61,.355,1);
    transition: all 600ms cubic-bezier(.215,.61,.355,1) 0ms;
    width: 150%;
    height: 110%;
    content: '';
    background: #333;
    transform: skew(45deg,0deg);
    transform-origin: top right;
    left: -190%;
    top: -5%;
    z-index:0;
}
.btn:hover:before{
  left:-35%;
}
.btn > span{
  position: relative;
  z-index:1;
}
.btn.light{
  border:1px solid #eee;
}
.btn.light:hover{
  color:#333;
}
.btn.light:before{
  background:#efefef;
}
.page-wrapper{
  position:absolute;
  top:0;
  left:0;
  right:0;
  min-height: 100vh;
  padding:70px 0;
  display:flex;
  align-items:stretch;
}