.about-me{
    position: relative;
    flex:1;
    color:var(--text-color)
}
.about-me > .v-center {
    width: 600px;
    max-width:100%;
    margin: auto;
}
.about-me .avatar{
    width:100px;
    border-radius: 50px;
    vertical-align: middle;
    margin: 0 0 0 auto;
}
.about-me .page-title{
    display: flex;
}
.about-me .buttons{
    margin: 20px 0;
}